/* SITE FONTS */
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.woff2') format('woff2'),
        url('../fonts/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Bold.woff2') format('woff2'),
        url('../fonts/Roboto-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Medium.woff2') format('woff2'),
        url('../fonts/Roboto-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

/* CUSTOM PROPS */
:root {
    --text-color: #333;
    --brand-green-color: #0a775f;
}

/* GLOBAL STYLES */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
*:focus {
    outline: var(--brand-green-color) 1px dashed;
    outline-offset: 3px;
}
html {
    height: 100%;
    scroll-behavior: smooth;
}
body {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    font-family: "Roboto", 'Arial', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: var(--text-color);
}
img {
    max-width: 100%;
    height: auto;
}
/* CONTAINER SYTLES */
.container {
    width: 100%;
    max-width: 1440px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}


/* HEADER AND HERO WRAPPER STYLES */
.header-and-hero-wrapper {
    background-image: url("../images/header-and-hero-bg-img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

/* SITE HEADER STYLES */
.site-header {
    padding: 40px 0;
}
.site-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
}
.site-header-logo-link {
    display: flex;
}
.site-header-logo-link:hover {
    opacity: 0.8;
}
.site-header-logo-link:active {
    opacity: 0.6;
}
.site-header-logo-img {
    width: 235px;
    height: 24px;
    object-fit: contain;
}
.sitenav-list {
    display: flex;
    align-items: center;
    list-style: none;
}
.sitenav-list-item:not(:last-child) {
    margin-right: 40px;
}
.sitenav-item-link {
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--text-color);
}
.sitenav-item-link:hover {
    color: var(--brand-green-color);
}
.sitenav-item-link:active {
    opacity: 0.6;
}















@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) { 
    .header-and-hero-wrapper {
        background-image: url("../images/header-and-hero-bg-img@2x.jpg");
    }
    
}