/* SITE FONTS */
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.woff2') format('woff2'),
        url('../fonts/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Bold.woff2') format('woff2'),
        url('../fonts/Roboto-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Medium.woff2') format('woff2'),
        url('../fonts/Roboto-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

/* CUSTOM PROPS */
:root {
    --text-color: #333;
    --brand-green-color: #0a775f;
}

/* GLOBAL STYLES */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
*:focus {
    outline: var(--brand-green-color) 1px dashed;
    outline-offset: 3px;
}
html {
    height: 100%;
    scroll-behavior: smooth;
}
body {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    font-family: "Roboto", 'Arial', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: var(--text-color);
}
img {
    max-width: 100%;
    height: auto;
}
/* CONTAINER SYTLES */
.container {
    width: 100%;
    max-width: 1440px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

/* MAIN SECTION */
.main {
    flex-grow: 1;
}